$brand-1: #004643;
$brand-1-l: #00464375;
$brand-2: #abd1c6;
$brand-3: #b3d0c680;
$background-1: #eef4f4;
$text-1: black;
$text-2: grey;
$hover-1: blue;
$hover-2: #a9a9fe;
$highlight-1: #C74870;
$highlight-1: #f783a8;

